<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comrax.mouseappandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities_N_fragments.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_N_fragments.MainListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities_N_fragments.Detail_City_Activity"
            android:label="@string/title_activity_detail_city" >
        </activity>
        <activity
            android:name=".activities_N_fragments.Open_Details_header_N_list_Activity"
            android:label="@string/title_activity_detail_city" >
        </activity>
    </application>

</manifest>
